# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore custom modules and themes already under version control
sites/all/modules/custom
sites/all/modules/restrict_by_ip
sites/all/themes/cfdpchat
sites/all/themes/cyberhus-chat-theme
sites/all/themes/netstof*
sites/all/themes/kram*
sites/all/themes/cura-chat-theme

# Ignore devel stuff
sites/all/modules/devel
sites/all/modules/devel_themer
sites/all/libraries/simplehtmldom
sites/all/modules/simplehtmldom
sites/all/modules/stage_file_proxy
